html,body
{
	margin:0;
	padding:0;
	background:white;
	height:100%;
	width:100%;
	overflow:hidden;
}
header
{
	height:2em;
	width:100%;
	background:#151633;
	border-bottom:1px solid black;
}
#main
{
	height:90%;
	width:80%;
	padding:0;
	margin:0;
	float:left;
	list-style:none;
	overflow-y:auto;
	overflow-x:hidden;
	
}
#main>li
{
	width:100%;
	padding-left:5px;
}
#rolelist, #automodsettings
{
	position:absolute;
	top:5%;
	right:21%;
	left:50%;
	bottom:5%;
	margin:0;
	padding:0;
	list-style:none;
}
#automodsettings
{
	border: 1px solid black;
	z-index: 10;
	background:white;
}
#automodsettings li
{
	height: 30%;
	width:100%;
	position:relative;
	background:white;
	
}
#automodsettings li div
{
	position:absolute;
	top: 6%;
	left:6%;
	right:6%;
	bottom:6%;
	padding: 1em;
	border: 1px solid transparent;
	border-radius: 8px;
	cursor:default;
}
#automodsettings li div:hover
{
	border: 1px solid #D0CCCC;
}
#automodsettings li div:active
{
	background: #929292;
}
#rolelist li
{
	height:6%;
	width:100%;
	padding:0;
	margin:0;
	background:white;
	border: 1px solid black;
}
#rolelist li .top, #rolelist li .bottom
{
	width:100%;
	height:50%;
	display:flex;
}
#rolelist li .top
{
	text-align:center;
	background:grey;
}
#rolelist li .bottom
{
	display:flex
}
#rolelist li .bottom .myrole,#rolelist li .bottom .person
{
	width:50%;
	text-align:center;
}
#rolelist li .bottom .myrole
{
	border-left:1px solid grey;
}
.automodcontainer
{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	min-height:100px;
	border: 1px solid black;
	display:block;
	font-family: 'Open Sans', Arial, sans-serif;
}
.automodcontainer header
{
	height:30px;
	width:100%;
	background: #151633;
	position: relative;
	font-family:'Denk One', Arial, sans-serif;
	color:white;
}
.automodcontainer header p
{
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	text-align:center;
	margin:0;
	padding:0;
	position:absolute;
	font-weight:bold;
	font-size: 18px;
}
.automodcontainer h2
{
	text-align:center;
	font-family:'Open Sans', Arial, sans-serif;
	font-size:20px;
}
.automodcontainer table
{
	border: 1px solid black;
	display:block;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
table tbody
{
	display:block;
}
.unauto
{
	background:pink;
}
.transport
{
	background: #49D9F8;
}
.witched
{
	border:3px solid #B133E0;
}
.automodcontainer table tr
{
	display:block;
}
.actiontable, .messagetable
{
	width: 80%;
}
.automodcontainer table tr:first-child
{
	border-bottom:1px solid black;
	display:block;
}
.automodcontainer table tr:first-child td
{
	border-bottom:none;
}
.automodcontainer table tr td
{
	display:block;
	padding-left:5px;
	padding-right:5px;
	float:left;
	border-right: 1px solid #ADADAD;
	border-bottom: 1px solid #ADADAD;
}
.automodcontainer table tr td:last-child
{
	float:none;
	border-right:none;
	overflow:auto;
	width:unset;
}
.automodbutton
{
	height:20px;
	width:60px;
	background:blue;
	text-align:center;
	line-height:20px;
	border: 1px solid #00043D;
    background: #4B72C4;
    cursor: pointer;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size:15px;
    color:#0D1771;
}
.automodbutton:hover
{
	 background: #8DA9E3;
}
.automodbutton:active
{
	background:#16387E;
	color: #8DA9E3
}
.actiontable tr td
{
	width:30%;
	height:22px;
	line-height:22px;
}
.messagetable tr td:first-child
{
	width: 15%;
}
.messagetable tr td
{
	width:70%;
}
.messagetable tr
{
	line-height:22px;
	overflow:auto;
}
.tooltip
{
	position: absolute;
	color:black;
	background: #FFC0CB;
	border: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 6px;
	overflow:auto;
	transform: translate(0, -100%);
}
.tooltip p
{
	margin:0;
	padding:0;
}
header ul
{
	list-style:none;
	margin:0;
	padding:0;
	height:100%;
	width:80%;
	float:left;
}
header ul li
{
	cursor:pointer;
	float:left;
	margin:0;
	margin-left:-1px;
	padding:0;
    text-align: center;
    display: block;
    color: white;
    height:100%;
	border-left:1px solid black;
	position:relative;
	width:10%;
	font-family: 'Denk One', Arial, sans-serif;
	font-size:0.9em;
}
header ul li:last-child
{
	border-right:1px solid black;
	margin-right:-1px;
}
.current
{
	color:black;
	background:#E2E112;
}
header ul li span
{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	width:100%;
}
.highlight
{
	background:#F6FF33;
}
.rolecard
{
	background:url("http://i.imgur.com/SB1069d.jpg");
	background-size: 100% 100%;
	height: 373px;
    width: 267px;
    text-shadow: 0px 4px 6px #191919;
    color:white;
    position:relative;
    padding:20px;
    padding-top:10px;
}
.rolecard h2
{
	text-align:center;
}
.rolecard .aligntext
{
    float: left;
}
.rolecard .abilities
{
	float: left;
    width: 100%;
}
.goal
{
	display: block;
    color: white;
    position: absolute;
    left: 27px;
    bottom: 20px;
}
#adjustabledivider
{
	position:absolute;
	width:2px;
	height:100%;
	border-left:2px transparent;
	border-right:2px transparent;
	background:black;
	height:90%;
	left: 80%;
	top:2em;
	cursor:ew-resize;
}
#userlist
{
	list-style:none;
	display:block;
	height:90%;
	padding:0;
	margin:0;
	margin-left:-2px;
	overflow:auto;
}
#userlist>li
{
	height:2.2em;
	width:100%;
	border-bottom:1px solid black;
}
#userlist>li:first-child
{
	border-bottom:2px solid black;
}
.dev
{
	font-weight:bold;
	color:#38832B;
}
#inputarea
{
	clear:both;
	width:100%;
	height:5%;
	border-top:1px solid black;
}
#c
{
	float:left;
	width:80%;
}
.votinginterface
{
    float: right;
    height: 100%;
    width: 100px;
}
.votebutton
{
	width:70%;
	height:100%;
	float:left;
	background: linear-gradient(#A39827, #FCE400);
	border-radius:8px;
	font-family: 'Slabo 27px', serif;
	cursor:default;
	color:#383300;
	text-align:center;
	border:1px solid black;
	margin:-1px;
}
.rolealignment
{
	margin-left:auto;
	height:100%;
}
.rolealignmentedit
{
	height:100%;
	box-sizing: border-box;  
	margin:0;
	padding:0;
	text-align:center;
}
.votebutton:hover
{
	background:#A39827;
}
.votecount
{
	width:30%;
	height:100%;
	border:1px solid black;
	margin:-1px;
	border-radius:8px;
	float:left;
	text-align:center;
	background:white;
}
.modcontrols, .info
{
	display:block;
	width:100%;
	height:50%;
}
.controlbutton, .role
{
	height:100%;
}
#clock
{
	position:absolute;
	top:100%;
	left:50%;
	transform:translate(-50%,0);
	border: 2px solid black;
	border-top:1px solid black;
	width: 3.6em;
	height:1.4em;
	border-bottom-left-radius: 200px;
	border-bottom-right-radius: 200px;
	font-size: 1.5em;
	background: #EBD33F;
}
#clock span
{
	position:absolute;
	top:40%;
	left:50%;
	transform:translate(-50%,-50%);
}
.role
{
	box-sizing: border-box;
	float:left;
	width:50%;
}
.willbutton
{
	height:50%;
	width:2%;
	border: 1px solid black;
	border-radius: 8px;
	float:right;
	background: #8B6914;
	color: white;
	font-size:10px;
	padding-top:8px;
	margin-left:5px;
	cursor:default;
}
.willbutton:hover
{
	background:#E1D45B;
	color:black;
}
#rolelistbutton
{
	background-image: url('list.png');
	background-size: 100% 100%;
	height:30px;
	width:27px;
	float:left;
}
#rolelistbutton:hover, #automodsettingsbutton:hover
{
	background-color: #D8D8D8;
}
#rolelistbutton:active, #automodsettingsbutton:active
{
	background-color:#828282;
}
#automodsettingsbutton
{
	background-image: url('settings.png');
	background-size: 100% 100%;
	height:30px;
	width:27px;
	float:left;
}
.editbutton
{
	height:10px;
	width:10px;
	margin-top:auto;
	margin-bottom:auto;
	background:url('edit.png');
	background-size:100% 100%;
	margin-right:auto;
	cursor:pointer;
}
.will
{
	margin-left:auto;
	margin-right:auto;
	width:40%;
	height:400px;
	border: 2px solid black;
	background: #D8DE73;
	padding-left:10px;
	padding-top:10px;
	overflow:hidden;
}
#will, #modwill
{
	background:url("will.png");	
	background-size:100% 100%;
	display:none;
	position:absolute;
	left:45%;
	top:10%;
	right:20%;
	bottom:10%;
}
#will textarea, #modwill textarea
{
	background-color:transparent;
	border-style:none;
	border-color:Transparent;
	font-size: 18px;
	font-family: Helvetica;
	outline:none;
	overflow:hidden;
	height:80%;
	width:80%;
	margin:8%;
	margin-top:10%;
	resize:none;
}
#will div, #modwill div
{
	border:black 1px solid;
	display:block;	
	position:absolute;
	right:6%;
	top:1.5%;
	left:89%;
	bottom:95%;	
	background:url("button.png");
	background-size:100%,100%;
	border:black 1px solid;
}
#will div:hover, #modwill div:hover
{
	box-shadow: 0 0 2px yellow;
}
.deadplayer
{
	background:grey;
	
}
.deadplayer div
{
	width:100%;
	height:50%;
}
.blocker
{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(160,160,160,0.9);
}
.downarrow
{
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid black;
	top: 80%;
}
.alert
{
	text-align:center;
	position:absolute;
	top:20%;
	left:40%;
	right:40%;
	bottom:20%;
	font-family: 'Open Sans', Arial, sans-serif;
}
.alert img
{
	height:250px;
	width:250px;
}
.controlbutton
{
	width:10%;
	float:left;
	font-family:'Open Sans', Arial, sans-serif;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	text-decoration: none;
	background: white;
	position:relative;
}
.controlbutton span
{
	text-align:center;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
/*----Buttons----*/
.mafiabutton {
   background: url('maf.png'), linear-gradient(#c40e0e, #d66565);
   background-size: 100% 100%
  }
.mafiabutton:hover {
   background: url('maf.png'), #b51a1a;
   background-size:100% 100%;
   }
.mafiabuttondown {
	background: url('maf.png'), #FF0000;
	background-size:100% 100%;
}
.jailorbutton {
   background: #919191;
   background: url('jailor.png'), linear-gradient(#303030,#919191);
   background-size:100% 100%;
 }
.jailorbutton:hover {
   background: url('jailor.png'), #505050;
   background-size:100% 100%;
 }
.jailorbuttondown {
   background: url('jailor.png'), #B7B7B7;
   background-size:100% 100%;
}
.spybutton {
   background: #65a9d7;
   background: url('spy.png'), linear-gradient(#306284, #3A92CD);
   background-size:100% 100%;
  }
.spybutton:hover {
   background:url('spy.png'),#0448A9;
   background-size:100% 100%;
}
.spybuttondown {
   background:url('spy.png'), cyan;
   background-size:100% 100%;
}
.mayorbutton {
   background: #1ccf00;
   background: url('mayor.png'), linear-gradient(#087700, #419B33);
   background-size:100% 100%;
 }
.mayorbutton:hover {
   background: url('mayor.png'), #208500;
   background-size:100% 100%;
}
.mayorbuttondown {
   background: url('mayor.png'), lime;
   background-size:100% 100%;
}
.mediumbutton {
   background: #7a941e;
   background: url('med.png'), linear-gradient(#453d0a, #7a941e);
   background-size:100% 100%;
}
.mediumbutton:hover {
   background: url('med.png'),#3A4518;
   background-size:100% 100%;
}
.mediumbuttondown {
   background: url('med.png'), yellow;
   background-size:100% 100%;
}
.killbutton
{
	background: linear-gradient(#c40e0e, #d66565);
	width: 20%;
	float:right;
	text-align:center;
	cursor:default;
}
.killbutton:hover
{
	background: #b51a1a;
}
.revivebutton
{
	background: linear-gradient(#55BF0A, #0E7800);
	width: 20%;
	float:right;
	text-align:center;
	cursor:default;
}
.revivebutton:hover
{
	background: #55BF0A;
}
.jailbutton
{
	background: linear-gradient(#021E3E, #424242);
	width: 20%;
	float:right;
	text-align:center;
	cursor:default;
	color:#CCCCCC;
}
.jailbutton:hover
{
	background: #021E3E;
}
.releasebutton
{
	background: linear-gradient(#CACACA, #B5B5B5);
	width: 20%;
	float:right;
	text-align:center;
	cursor:default;
	color:black;
}
.releasebutton:hover
{
	background:#CACACA;
}
.more
{
	width: 5%;
	float:right;
	text-align:center;
	cursor:default;
	color:black;
}
.more:hover
{
	background:#B8B8B8;
}
#morelist
{
	position:absolute;
	right:0;
	background:white;
	border:1px solid black;
	list-style:none;
	padding:0;
	z-index: 10;
	margin:0;
	padding:0;
}
.morelistheading
{
	width:100%;
	background:#989898;
}
.morelistitem:hover
{
	background:#C4C4C4;
}
.modwillbutton
{
	width: 5%;
	float:right;
	text-align:center;
	cursor:default;
	color:white;
	background:#8B6914;	
	font-size:10px;
}
.modwillbutton:hover
{
	background:#E1D45B;
	color:black;
}
.num
{
	float:left;
	font-weight:bold;
	max-width:15%;
	padding-left:5px;
}
.name
{
	float:left;
	overflow:hidden;
	text-overflow:ellipsis;
	max-width:80px;
	white-space: nowrap;
	width:35%;
	padding-left: 5px;
    margin-right: -5px;
}
.setroles
{
	background: url('accept.png'), linear-gradient(#f9f9f9, #e9e9e9);
	background-size: 100% 100%;
	height:100%;
	flex-grow:1;
	cursor:pointer;
}
.roll
{
	background: url('roll.png'), linear-gradient(#f9f9f9, #e9e9e9);
	background-size: 100% 100%;
	height:100%;
	flex-grow:1;
	cursor:pointer;
}
.roll:hover
{
	background: url('roll.png'), linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-size: 100% 100%;
}
.setroles:hover
{
	-moz-filter: brightness(1.5);
	-webkit-filter: brightness(1.5);
	-o-filter: brightness(1.5);
	-ms-filter: brightness(1.5);
	filter: brightness(1.5);
}
.showroles, .showlist
{
	height:80%;
	flex-grow:2;
	text-align:center;
	background:linear-gradient(#f9f9f9, #e9e9e9);
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	margin-top:auto;
	margin-bottom:auto;
	vertical-align:middle;
	cursor:pointer;
	font-weight:bold;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	border:1px solid #dcdcdc;
	padding-top:6px;
}
.showroles:hover, .showlist:hover
{
	background:#f9f9f9;
}
.showroles:active, .showlist:active
{
	background:#e9e9e9;
}
.rolelistcontrols
{
	display:flex;
}
.extracontrols
{
	width:100%;
	height:50px;
	border: 1px solid black;
	border-top: none;
	background:white;
}
.extracontrols .options
{
	height:100%;
	float:left;
	width:50%;
	padding: 5px;
}
.extracontrols .options .checkbox
{
	float:left;
}
.extracontrols .options p
{
	float:left;
	margin:0;
}
#autoRolesButton
{
	float: left;
	height: 1.5em;
	width: 6em;
	background: linear-gradient(#f9f9f9, #e9e9e9);
	margin-top: 5px;
    text-align: center;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    cursor: pointer;
    font-weight: bold;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    border: 1px solid #dcdcdc;
    position:relative;
}
#autoRolesButton:hover
{
	background:#f9f9f9;
}
#autoRolesButton:active
{
	background:#e9e9e9;
}
#autoRolesButton p
{
	position:absolute;
	margin:0;
	padding:0;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
/*--Verdicts--*/
.verdictinterface
{
	position:absolute;
	left:80%; /*Gets animated to 60%*/
	right:20%;
	top:5%;
	bottom:90%;
	background:orange;
	border-bottom-left-radius:12px;
	border: black solid 2px;
	border-right: black solid 1px;
}
.verdictbutton
{
	height:100%;
	width:50%;
	float:left;
	text-align:center;
	font-size:20px;
	cursor:pointer;
}
.guiltybutton
{
	background:linear-gradient(#FF0000,#990000);
	border-bottom-left-radius:8px;
	margin-right:-1px;
	border-right:1px solid black;
}
.guiltybutton:hover
{
	background:red;
}
.innobutton
{
	background:linear-gradient(#60FF00,#118100);
	margin-left:-1px;
	border-left:1px solid black;	
}
.innobutton:hover
{
	background:lime;
}
/*----Announcement tags----*/
maf
{
	color:red;
}
arso
{
	color:#E88718;
}
ww
{
	color:#855217;
}
jester
{
	color:#E542C7;
}
town
{
	color:#4CC327;
}
sk
{
	color:#10188C;
}
neut
{
	color:grey;
}
/*----Chat messages----*/
.mafia
{
	color:red;
}
.dead, .medium
{
	color: grey;
    text-shadow: 0px 0px 10px #6FADB1;
}
.jailor, .jailed
{
	color:#643E33;
}
.jailing
{
	background:#BDBDBD;
}
.moon
{
	background:#249AC7;
	color:white;
}
.whisper
{
	color:#5D0034;
}
.mod
{
	color:#3454E5;
}
.dying
{
	background:#A00100;
	color:white;
}
.reviving
{
	background:#4ADF00;
}
.vote
{
	color:green;
}
.whisper
{
	color:green;
}
.guilty
{
	color:red;
}
.inno
{
	color:lime;
}
.abstain
{
	color:cyan;
}
/*Rolelist*/
.displaylist
{	
	width:150px;
	border: 2px solid #604605;
	list-style:none;
	background: #846007;
	padding:0;
	margin:0;
}
.displaylistitem
{
	padding:0;
	margin:0;
	width:100%;
	height:20px;
	border-bottom: 1px solid #5E470D;
	text-align:center;
}
.displaylistitem:last-child
{
	border:none;
}
.allroles
{
	display:flex;
}
.allroleslist
{	
	width:300px;
	border: 2px solid #604605;
	list-style:none;
	background: #846007;
	padding:0;
	margin:0;
}
.innerlistitem
{
	display:inline-block;
	width:50%;
	height:100%;
	border-right: 1px solid #5E470D;
	float:left;
}
.editableMessage
{
	border-radius: 8px;
	padding: 5px;
	padding-top:2px;
	padding-bottom:2px;
}
.editableMessage:hover
{
	background: #CBCBFF;
}
.editingMessage
{
	border-radius: 8px;
	width: 100%;
}
.grow
{
	height: initial;
	overflow: auto;
}
.shrink
{
	height:0px;
	overflow:hidden;
	display:none;
	visibility:hidden;
}
.helppanel
{
	width:97%;
	margin-left:5px;
}
.commandheader
{
	margin-top:1em;
}
.aChanges
{
	margin-left:10px;
	margin-bottom:5px;
}
a:visited
{
	color:blue;
}
.backline
{
	margin-left:0.5em;
}
.helpPanel>li:first-child
{
	float:left;
}
.helpPanel
{
	overflow:hiddenp;
}
.icon
{
	height:1em;
}
